html, body, #miroFrameWrapper {
  height: 100%;
}
#miroFrameWrapper iframe {
  display: block; 
  width: 100%; 
  height: 100%;
  border: none;
}
#guidanceForMobile {
  display: none;
}
body.is-mobile #guidanceForMobile {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100vw;
  height: 100%;
  left: 0;
  top: 0;
  background-image:url(img/bg.webp);
  background-position: left top;
  background-size: 60px;
  border-top: 1px solid #ddd;

  /* &::after {
    content: '';
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.3);
    backdrop-filter: blur(16px);
  } */

  > div {
    z-index: 1;
    width: 86vw;
    padding: 48px;
    box-sizing: border-box;
    border-radius: 24px;
    text-align: center;
    font-size: 48px;
    font-weight: 600;;
    font-family: 'Noto Sans JP';

    & p {
      margin-bottom: 80px;
      margin-top: 0;
      color: #2045A5;
      line-height: 1.5;
    }

    & a {
      background-color: #2045A5;
      border-radius: 91px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      padding: 24px;
      margin: 32px auto;
      text-decoration: none;
      width: 90%;
      font-size: 0.9em;
      height: 182px;
      box-sizing: border-box;
      font-weight: 500;
      line-height: 1.4;
      letter-spacing: 2px;
  
      &:hover {
        filter: saturate(0.70);
      }

      > span {
        display: block;
      }
    }
  }
}
